{% extends "shared/_layout.html" %}
{% block title %}PyPI Demo CMS Admin{% endblock %}

{% block main_content %}
    <div class="padded">
        <h1>Admin home</h1>

        <div class="admin-block">
            <div>
                Control and update the website from here.
            </div>

            <ul>
                <li><a href="/admin/redirects">View redirects</a></li>
                <li><a href="/admin/pages">View pages</a></li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block additional_css %}
    <link rel="stylesheet" href="/static/css/admin.css">
{% endblock %}