{% extends "shared/_layout.html" %}

{% block title %}CMS Admin{% endblock %}
{% block additional_css %}<link rel="stylesheet" href="/static/css/admin.css"/>{%  endblock %}

{% block main_content %}


    <div class="admin-block padded">
        <h1>Admin section</h1>
        <div>
            <h2>Actions</h2>
            <ul>
                <li>
                    <a href="/admin/redirects">Redirects</a>
                </li>
                <li>
                    <a href="/admin/pages">CMS Pages</a>
                </li>
            </ul>
        </div>
    </div>


{% endblock %}
